<fieldset class="form-fieldset">
  <legend class="form-legend">{{ label | default: 'Full Name' }}</legend>
  <div class="form-item">
    <label for="formid-n-f" class="form-label">
      <span class="form-label-inner">First Name:</span>
      <input class="form-input" type="text" id="formid-n-f" name="n-f" autocomplete="given-name">
    </label>
  </div>
  <div class="form-item">
    <label for="formid-n-l" class="form-label">
      <span class="form-label-inner">Last Name:</span>
      <input class="form-input" type="text" id="formid-n-l" name="n-l" autocomplete="family-name">
    </label>
  </div>
</fieldset>