<div class="form-item">
  <label for="formid-e" class="form-label">
    <span class="form-label-inner">{{ label | default: 'Email' }}:</span>
    <input class="form-input" type="email" id="formid-e" name="e" autocomplete="email">
  </label>
</div>