<input-password>
  <div class="form-item form-password">
    <label for="formid-p" class="form-label">
      <span class="form-label-inner">{{ label | default: 'Password' }}:</span>
      <input class="form-input" type="password" id="formid-p" name="p">
    </label>
  </div>
</input-password>