{% capture default_content -%}
    <p>Just let it bounce around and play. You decide where all these things are. We all need a friend. It's easy to add more color, but it's a son of a gun to take it away.</p>
    <p>Please let me thank you. I lived in Alaska for many, many years. They are restricted only by your imagination. Don't piddle with them -- don't worry about them. Now a little rabbit can hide down there and look over at us!</p>
{%- endcapture %}
<details class="accordion {{ size | default: 'large' }} {{ theme | default: '' }}">
  <summary class="accordion-label">
    {{ label }}
    <svg class="expand-icon" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
      <path fill="currentColor" d="m17.5 8.086l-5.5 5.5l-5.5-5.5L5.086 9.5L12 16.414L18.914 9.5z"/>
    </svg>
  </summary>
  <div class="accordion-body">
    {{ content | default: default_content}}
  </div>
</details>