<div class="form-item">
  <label for="formid-t" class="form-label{% if required %} required{% endif  %}">
    <span class="form-label-inner">{{ label }}:</span>
    <input class="form-input" type="text" id="formid-t" name="t"{% if required %} required{% endif  %}>
  </label>
</div>