<fieldset class="form-fieldset">
  <legend class="form-legend">{{ label | default: 'Date and Time' }}</legend>
  <div class="form-item">
    <label for="formid-d" class="form-label">
      <span class="form-label-inner">Date:</span>
      <input class="form-input" type="date" id="formid-d" name="d">
    </label>
  </div>
  <div class="form-item">
    <label for="formid-t" class="form-label">
      <span class="form-label-inner">Time:</span>
      <input class="form-input" type="time" id="formid-t" name="t">
    </label>
  </div>
</fieldset>