<div class="form-item">
  <label for="formid-d" class="form-label">
    <div class="form-label-inner">{{ label | default: 'Date' }}:</div>
    <input class="form-input" type="{{ type }}" id="formid-d" name="d">
  </label>
</div>