<nav class="breadcrumbs" aria-label="Breadcrumbs">
  <ul class="breadcrumbs-list">
    <li class="breadcrumb">
      <a href="#" class="breadcrumb-link">{{ grandparent }}</a>
    </li>
    <li class="breadcrumb">
      <a href="#" class="breadcrumb-link">{{ parent }}</a>
    </li>
    <li class="breadcrumb">{{ label }}</li>
  </ul>
</nav>