:root {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

:where(h1) {
  font-size: 2.625rem;
  font-variant: small-caps;
  margin-block-end: .75em;
}

:where(h2) {
  font-size: 2rem;
  font-weight: 500;
  margin-block-end: .75em;
}

:where(h3) {
  font-size: 1.625rem;
  margin-block-end: .75em;
}

:where(h4) {
  font-size: 1.375rem;
  margin-block-end: .75em;
}

:where(p) {
  font-size: 1.125rem;
  line-height: 1.5;

  &:not(:last-child) {
    margin-block-end: 1rem;
  }
}

:where(a) {
  color: currentColor;
}