.btn {
  --btn-background: var(--accent-primary);
  --btn-border: var(--accent-primary);
  --btn-color: var(--background-color);
  background-color: var(--btn-background);
  color: var(--btn-color);
  display: inline-block;
  border: 2px solid var(--btn-border);
  border-radius: .5rem;
  font-family: 'Nunito Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 1.125rem;
  font-weight: 500;
  line-height: 1;
  padding: .75rem 1.5rem;
  text-decoration: none;

  &:not(:first-child) {
    margin-inline-start: .5rem;
  }
  &:not(:last-child) {
    margin-inline-end: .5rem;
  }

  &.compact {
    border-radius: .875rem;
    font-size: 1rem;
    padding: .375rem .75rem;
  }

  &.secondary {
    --btn-background: var(--accent-secondary);
    --btn-border: var(--accent-secondary);
    --btncolor: var(--background-color);
  }

  &.reverse {
    --btn-background: var(--background-color);
    --btn-border: var(--accent-primary);
    --btn-color: var(--accent-primary);
  }
}